<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda | EcoWeather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/agenda.css') }}">
</head>
<body>
    <!-- NAVBAR -->
     <nav>
        <a href="/inicio">Home</a>
        <a href="{{ url_for('pronostico') }}">Forecast</a>
        <a href="{{ url_for('agenda') }}">Schedule</a>
        <a href="{{ url_for('comparar') }}">Compare Places</a>
        <a href="{{ url_for('educacion') }}">Education</a>
        <a href="/juego">Mini Games</a> 
        <a href="{{ url_for('iniciosesion') }}">Login</a>
        <a href="{{ url_for('perfil') }}">My Profile</a>
        <a href="{{ url_for('logout') }}" style="color:#ff6b6b;">Log Out</a>
    </nav>

    <!-- CONTENEDOR CALENDARIO -->
    <div class="calendar-container">
        <div class="calendar-header">
            <button id="prev">◀</button>
            <h2 id="monthYear"></h2>
            <button id="next">▶</button>
        </div>
        <div class="calendar-days-header">
            <span>Mon</span><span>Tues</span><span>Wed</span><span>Thurs</span><span>Fri</span><span>Sat</span><span>Sun</span>
        </div>
        <div class="calendar" id="calendar">
            <!-- Días generados con JS -->
        </div>
    </div>


    <!-- MODAL EVENTO -->
    <div class="modal" id="eventModal">
        <div class="modal-content">
            <h3>Add event to:s <span id="modalDate"></span></h3>
            <input type="text" id="eventTitle" placeholder="Title of the event (ex. Trip to Huaraz)">
            <textarea id="eventDesc" rows="3" placeholder="Description (Optional)"></textarea>
            <div class="modal-buttons">
                <button id="deleteBtn">Delete</button>
                <button id="cancelBtn">Cancel</button>
                <button id="saveBtn">Save</button>
            </div>
        </div>
    </div>
    
    <!-- FOOTER -->
    <footer>
        © 2025 EcoWeather | Your personal travel planner
    </footer>

    <script src="{{ url_for('static', filename='js/agenda.js') }}"></script>
</body>
</html>
